{%extends 'mainapp/base.html' %}
{% load static %}
{% block container %}
<div class="contact-h2">НАШИ КОНТАКТЫ:</div>
<section class="padding-site2">
    <div class="address-box">
        <div class="address">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.6061596824234!2d37.62377519563705!3d55.747971684012974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54af8901744fd%3A0xa127d10680794929!2z0KHQsNC00L7QstC90LjRh9C10YHQutCw0Y8g0YPQuy4sIDEsINCc0L7RgdC60LLQsCwgMTE1MDM1!5e0!3m2!1sru!2sru!4v1545210642046"
                    width="100%" height="670px" frameborder="0" style="border:0" allowfullscreen></iframe>
            <div class="address-text">
                <i class="fas fa-map-marker-alt"></i>
                {% if locations %}
                    {% for i in locations %}
                <div class="address-heading">{{ i.city }}</div>
                <div class="address-p adr_bold">Телефон:</div>
                <div class="address-p">{{ i.phone }}</div>
                <div class="address-p adr_bold">Email:</div>
                <div class="address-p">{{ i.email }}</div>
                <div class="address-p adr_bold">Адрес:</div>
                <div class="address-p">{{ i.address }}</div>
                    {% endfor %}
                {% else %}
                    <h2>В РАЗРАБОТКЕ</h2>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
